<div class="container">
  <div class="row my-3">
    <h2>Proyectos Publicados</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card mb-3 border-dark " style="max-width: 540px; max-height: 206px;">
        <div class="row g-0 ">
          <div class="col-md-4">
            <img src="assets\img\banerDefault.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 ">
            <div class="card-body tarjeta">
              <h5 class="card-title">Titulo</h5>
              <p class="card-text">Descripcion:</p>
              <p class="card-text truncar">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate facilis vitae fugit voluptatem dolore veritatis labore cum sapiente praesentium quod, molestiae culpa suscipit nemo eos iusto error aspernatur nobis ea?</p>
              <p class="card-text"><small class="text-muted">Del - al -</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
