<div class="container">
    <div class="row">
        <h3>Mis Proyectos</h3>
    </div>
    <div class="row">
        <button routerLink="/formRegistroProy" class="btn btn-outline-secondary">Agregar nuevo Proyecto</button>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let item of listProyectos">
            <img [src]="decode(item?.banner)" class="card-img-top" alt="...">
            <div class="card-body">

              <h5 class="card-title">{{item?.tituloProy}} 
                <app-badge [estado]="item?.estado"></app-badge>
              </h5>
              <p class="card-text">{{item?.objetivos}}</p>
              <a [routerLink]="['/proyecto', item?.idProy]" class="btn btn-primary">Ver Proyecto</a>
            </div>
          </div>
    </div>
</div>
