<div class="container pt-5">
  <h2>Nuevo Proyecto</h2>
  <form class="row" (ngSubmit)="onSubmit1()" [formGroup]="newProyectForm">

    <div class="col-md-8">


      <label>Titulo</label>
      <input type="text" formControlName="titulo" class="form-control"
        [ngClass]="{ 'is-invalid': form1.titulo.errors }" />
      <div *ngIf="form1.titulo.errors" class="invalid-feedback">
        <div *ngIf="form1.titulo.errors.required">Debe introducir un Titulo</div>
      </div>

      <label>Objetivo</label>
      <input type="text" formControlName="objetivo" class="form-control"
        [ngClass]="{ 'is-invalid': form1.objetivo.errors }" />
      <div *ngIf="form1.objetivo.errors" class="invalid-feedback">
        <div *ngIf="form1.objetivo.errors.required">Debe introducir una contraseña</div>
      </div>

      <label>Mision</label>
      <input type="text" formControlName="mision" class="form-control"
        [ngClass]="{ 'is-invalid': form1.mision.errors }" />
      <div *ngIf="form1.mision.errors" class="invalid-feedback">
        <div *ngIf="form1.mision.errors.required">Debe introducir una contraseña</div>
      </div>

      <label>Vision</label>
      <input type="text" formControlName="vision" class="form-control"
        [ngClass]="{ 'is-invalid': form1.vision.errors }" />
      <div *ngIf="form1.vision.errors" class="invalid-feedback">
        <div *ngIf="form1.vision.errors.required">Debe introducir una contraseña</div>
      </div>

      <label>Descripcion</label>
      <textarea formControlName="descripcionProy" class="form-control" cols="30" rows="2" [ngClass]="{ 'is-invalid': form1.descripcionProy.errors }"></textarea>
      <div *ngIf="form1.descripcionProy.errors" class="invalid-feedback">
        <div *ngIf="form1.descripcionProy.errors.required">Debe introducir una descripcion del proyecto</div>
      </div>
      <!--fechas-->
      <label>Fecha Inicio</label>
      <input type="date" formControlName="fechaInicio" class="form-control"
        [ngClass]="{ 'is-invalid': form1.fechaInicio.errors }" />
      <div *ngIf="form1.fechaInicio.errors" class="invalid-feedback">
        <div *ngIf="form1.fechaInicio.errors.required">Debe introducir una contraseña</div>
      </div>

      <label>Fecha Final</label>
      <input type="date" formControlName="fechaFinal" class="form-control"
        [ngClass]="{ 'is-invalid': form1.fechaFinal.errors }" />
      <div *ngIf="form1.fechaFinal.errors" class="invalid-feedback">
        <div *ngIf="form1.fechaFinal.errors.required">Debe introducir una contraseña</div>
      </div>

      <label>Seleccionar tipo proyecto</label>
      <br>
      <select name="miselect" class="form-select" formControlName="tipo">
        <option [value]="item.id" *ngFor="let item of lista">{{item.descripcion}}</option>
      </select>

      <div class="bg-light" *ngIf='newProyectForm.value.tipo == 1'>
        <h4>Proyecto cultural </h4>
        <a class="btn btn-success" (click)="openModalFormActividades(templateFormActividadesCult)">agregar</a>
        <table class="table table-hover">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Actividad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Horario</th>
            <th scope="col">acciones</th>
          </tr>
          <tr *ngFor="let item of listaActividadesCulturales; let i = index">
            <td>{{i+1}}</td>
            <td>{{item?.title}}</td>
            <td>{{item?.desc}}</td>
            <td>{{item?.horario}}</td>
            <td><a class="btn btn-danger" (click)="eliminarActCult(i)">quitar</a></td>
          </tr>
        </table>
      </div>
      <div class="bg-light" *ngIf='newProyectForm.value.tipo == 2'>
        <h4>Proyecto de servicios</h4>
        <a class="btn btn-success" (click)="openModalFormActividades(templateFormProductos)">agregar</a>
        <table class="table table-hover">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Actividad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">acciones</th>
          </tr>
          <tr *ngFor="let item of listaProductos; let i = index">
            <td>{{i+1}}</td>
            <td>{{item?.title}}</td>
            <td>{{item?.desc}}</td>
            <td>{{item?.precio}}</td>
            <td><a class="btn btn-danger" (click)="eliminarProdSer(i)">quitar</a></td>
          </tr>
        </table>
      </div>
      <div class="bg-light" *ngIf='newProyectForm.value.tipo == 3'>
        <h4>Proyecto Benefico</h4>
        <a class="btn btn-success" (click)="openModalFormActividades(templateFormActividadesBen)">agregar</a>
        <table class="table table-hover">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Actividad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Horario</th>
            <th scope="col">acciones</th>
          </tr>
          <tr *ngFor="let item of listaActividadesBeneficas; let i = index">
            <td>{{i+1}}</td>
            <td>{{item?.title}}</td>
            <td>{{item?.desc}}</td>
            <td>{{item?.horario}}</td>
            <td><a class="btn btn-danger" (click)="eliminarActBen(i)">quitar</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center"><h4>Baner del Proyecto</h4></div>
        <div class="col-md-12" *ngIf="uploader?.queue?.length == 0 && listaImagenes.length ==0">
          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="well my-drop-zone" style="text-align: center">
            <p style="color: gray;">Arrastrar imagen aqui...</p>
            <label type="button" class="btn btn-outline-info" id="seleccionarImagen">
              Seleccionar Imágenes <input type="file" ng2FileSelect [uploader]="uploader" style="display: none;">
              <span class="fas fa-folder-open" aria-hidden="true"></span>
            </label>
          </div>
        </div>
        <div class="col-md-12" *ngIf="listaImagenes.length != 0">
          <div class="card" style="width: 18rem;">
            <img [src]="listaImagenes[0].data.url" class="card-img-top" alt="...">
            <div class="card-body">
              <a id="botonesTabla" type="button" class="btn btn-secondary" (click)='deleteImage(listaImagenes[0].data)'>
                <span class="far fa-trash-alt"></span> Eliminar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="uploader?.queue?.length != 0 ">
          <div class="card" style="width: 18rem;" *ngFor="let item of uploader.queue">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Nombre: {{ item?.file?.name }}</li>
              <li class="list-group-item">Tam: {{item?.file?.size}} B</li>
              <li class="list-group-item">
                <p>Progreso:</p>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar progress-bar-striped bg-info" [ngStyle]="{ 'width': item.progress + '%' }">
                  </div>
                </div>
              </li>
            </ul>
            <div class="card-body">
              <a id="botonesTabla" type="button" class="btn btn-secondary" (click)="item.upload()"
                *ngIf="!(item.isReady || item.isUploading || item.isSuccess)">
                <span class="fa fa-upload"></span> Cargar
              </a>
              <a id="botonesTabla" type="button" class="btn btn-secondary" (click)="item.remove()">
                <span class="fa fa-trash"></span> Cambiar
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container row mt-5">
        <div class="col-12 p-1 pb-3">
          <h4>Buscar Patrocinador:</h4>
          <p-autoComplete formControlName="patrocinador" [suggestions]="patrocinadorFiltrado" (completeMethod)="filtrarPatrocinador($event)" field="nombreP" [minLength]="2" size="50" (onSelect)="seleccionaroPatrocinador()" placeholder="nombre del patrocinador">
            
          </p-autoComplete>
          <p class="font-weight-light pl-1">
              (*) para buscar solo debe escribir el nombre del patrocinador seleccionarlo, tenga paciencia
              no lo encuentra? <a class="link-primary" (click)="openModalFormPatrocinadores(templateFormPat)">registrelo</a>
          </p>
      </div>
      </div>
      <div *ngIf="listaPatrocinadores.length != 0" class="row justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Patrocinadores Seleccionados
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let item of listaPatrocinadores" class="list-group-item">{{item?.nombreP}}</li>
          </ul>
        </div>

      </div>
    </div>
    <!--Submit-->
    <div class="text-center mt-5">
      <button class="btn btn-primary mr-1" [disabled]="newProyectForm.invalid">Guardar Cambios</button>
      <button routerLink="/dashboard" class="btn btn-outline-secondary">Cancelar</button>
    </div>
    <div class="row">

    </div>

  </form>

</div>


<ng-template #templateFormActividadesBen>
  <div class="row justify-content-center">
  <form class="col-md-8" (ngSubmit)="agregarActBen()" [formGroup]="newAct">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Registrar Actividad Benefica</h5>
    </div>
    <div class="modal-body text-center">
      <label>Nombre</label>
      <input type="text" formControlName="title" class="form-control" />

      <label>Descripcion</label>
      <input type="text" formControlName="desc" class="form-control" />

      <label>Horario</label>
      <input type="time" formControlName="horario" class="form-control" />
      <div class="modal-footer">
        <button class="btn btn-primary">agregar</button>
      </div>
    </div>
  </form>
</div>
</ng-template>

<ng-template #templateFormActividadesCult>
  <div class="row justify-content-center">
  <form class="col-md-8" (ngSubmit)="agregarActCult()" [formGroup]="newAct">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Registrar Actividad Cultural</h5>
    </div>
    <div class="modal-body text-center">
      <label>Nombre</label>
      <input type="text" formControlName="title" class="form-control" />

      <label>Descripcion</label>
      <input type="text" formControlName="desc" class="form-control" />

      <label>Horario</label>
      <input type="time" formControlName="horario" class="form-control" />

      <div class="modal-footer">
        <button class="btn btn-primary">agregar</button>
      </div>
    </div>
  </form>
</div>
</ng-template>

<ng-template #templateFormProductos>
  <div class="row justify-content-center">
  <form class="col-md-8" (ngSubmit)="agregarProdSer()" [formGroup]="newProd">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Registrar Producto o Servicio</h5>
    </div>
    <div class="modal-body text-center">
      <label>Nombre</label>
      <input type="text" formControlName="title" class="form-control" />

      <label>Descripcion</label>
      <input type="text" formControlName="desc" class="form-control" />

      <label>Precio</label>
      <input type="number" formControlName="precio" class="form-control" />

      <div class="modal-footer">
        <button class="btn btn-primary">agregar</button>
      </div>
    </div>
  </form>
</div>
</ng-template>


<ng-template #templateFormPat>
  <div class="row justify-content-center">
  <form class="col-md-8" (ngSubmit)="agregarPatrocinador()" [formGroup]="newPat">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Registrar Patrocinador</h5>
    </div>
    <div class="modal-body text-center">
      <label>Nombre</label>
      <input type="text" formControlName="nombreP" class="form-control" />

      <label>Tipo</label>
      <input type="text" formControlName="tipoPatrocinador" class="form-control" />

      <div class="modal-footer">
        <button class="btn btn-primary">agregar</button>
      </div>
    </div>
  </form>
  </div>
</ng-template>