.my-drop-zone { border: dashed 6px lightgray; }
.nv-file-over { 
    border: dashed 5px limegreen;
    justify-content: center } /* Default class applied to drop zones on over */

.imgThumbnail{
  padding: 4px;
}
#seleccionarImagen {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: serif;
  font-size: 17px;
}

#botonesTabla {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

.registro{
  background-color: #E9EAEE;
  padding-top: 25px;
  padding-bottom: 25px;
}

:host {
    display: block;
  }
  .uploader-wrapper {
    position: relative;
    width: 100vw;
    height: 80vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .ui-autocomplete .inputTest {
    background-color: red;
}
.panelTest .ui-autocomplete-items .ui-state-highlight {
    background-color: blue;
}
:host >>> .ui-autocomplete .ui-autocomplete-input {
  color: rgb(131, 5, 5);
}

.p-autocomplete-item {

  cursor: pointer;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  background-color: gainsboro !important;
  border-left-style: solid !important;
  border-bottom-color: white !important;
  border-bottom-style: inset !important;
}

.p-autocomplete-item:hover {
  background-color: whitesmoke !important;
}