<section id="about" class="about mt-5">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="../../../assets/img/about-us.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>Sobre nosotros</h3>
          <p>
            Planifica, da seguimiento y gestiona los proyectos de innovación y emprendimiento de principio a fin.
          </p>
          <ul>
            <li><i class="bx bx-check-double"></i> Agiliza los procesos de carga y administración de la información, disminuyendo los tiempos. </li>
            <li><i class="bx bx-check-double"></i> Permite la carga y visualización de los datos generales del proyecto totalmente on-line. </li>
          </ul>
          <div class="row icon-boxes">
            <div class="col-md-6">
              <i class="bx bx-cube-alt"></i>
              <h4>Visión global</h4>
              <p>Ofrece una visión global del avance del proyecto y la consecución de las metas.</p>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <i class="bx bi-stack"></i>
              <h4>Seguimiento de solicitudes</h4>
              <p>Da seguimiento a los trabajos y establece las prioridades.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section id="counts" class="counts my-5">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-6">
          <div class="count-box">
            <i class="bi bi-person-lines-fill"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Comunicación entre usuarios</p>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="count-box">
            <i class="bi bi-currency-exchange"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Reducción de costes</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-clock-history"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Optimización de tiempo</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Asignación de actividades</p>
          </div>
        </div>

      </div>

    </div>
  </section>