/* You can add global styles to this file, and also import other style files */

#hero {
    width: 100%;
    height: 90vh;
    background: url("assets/img/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero:before {
    content: "";
    background: rgba(56, 64, 70, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    z-index: 2;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h1 span {
    border-bottom: 4px solid #3498db;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #3498db;
    text-transform: uppercase;
}

#hero .btn-get-started:hover {
    background: #4ea5e0;
}

@media (max-width: 992px) {
    #hero {
        height: calc(100vh - 70px);
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 30px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.about {
    padding: 10px 0;
}

.about h3 {
    font-weight: 600;
    font-size: 32px;
}

.about ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.about ul li+li {
    margin-top: 10px;
}

.about ul li {
    position: relative;
    padding-left: 26px;
}

.about ul i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #3498db;
}

.about .icon-boxes {
    padding-top: 10px;
}

.about .icon-boxes h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.about .icon-boxes i {
    font-size: 48px;
    color: #3498db;
}

.about .icon-boxes p {
    font-size: 15px;
    color: #848484;
}

.counts {
    background: white;
    padding: 30px 0 40px 0;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
}

.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #3498db;
    padding: 12px;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #124364;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}