<div class="container w-100 login-container animated fadeIn">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="alert alert-danger mb-5" role="alert" *ngIf="errorLogin">
                Usuario o Contraseña incorrecta
            </div>
            <!-- <div class="alert alert-info mb-5" role="alert" *ngIf="sinRoles">
                Cuenta Registrada, por favor solicite a la unidad Sección Becas Académicas su habilitación de acceso.
                <br>
            </div> -->
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="assets/img/user2.png" alt="userImage">
                </div>

                <form (ngSubmit)="handleLogin()" class="col-12" #loginForm="ngForm">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Ingresar Usuario" [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Ingresar Clave" [(ngModel)]="password">
                    </div>
                    <!-- <div>

                        <re-captcha style="margin-bottom: 1000px;" size="invisible" #captchaRef="reCaptcha" (resolved)="$event && handleLogin(aviso,$event)" siteKey="6Lfk6dYZAAAAADBi7fvLF_tQSyY5M2MsV0vKFraK"></re-captcha>
                    </div> -->
                    <button type="submit" class="btn btn-outline-info m-3 btn-lg">
                        <i class="fas fa-sign-in-alt"></i> Ingresar
                    </button>
                </form>
            </div>
            <!-- End of Modal Content -->

        </div>
    </div>


</div>